<!-- <p>PRODUCT ID : {{productId}}product-details works!</p> -->
<div class="container-fluid">
            <button style="margin-bottom: 7px;" class="btn btn-primary" (click)="goBack()">Go Back</button>

      <div class="row d-flex justify-content-between align-items-center" >
        <div class="col-4">

            <img style="width: 400px;" src="/assets/{{category}}/{{productId}}.jpg" alt="Card image cap">
        </div>
        <div class="col-5 text-center">
          <ul class = "list-group" >
            <li class = "list-group-item list-group-item-dark">Product Details</li>
            <li class = "list-group-item" *ngFor = "let item of object | keyvalue">
              <div *ngIf = "item.key != 'price'">
                {{ item.key }} : {{ item.value }}
              </div>
              <div *ngIf = "item.key == 'price'">
                <div *ngIf = "currentCurr =='USA'" >{{ item.key }} : {{ toNum(item.value) | currency : 'USA'}} </div>
                <div *ngIf = "currentCurr =='INR'" >{{ item.key }} : {{ toNum(item.value) | currency : 'INR'}} </div>
                <div (click) = "toggleCurrency()" class = "btn btn-dark">Change Currency</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                  Checkout
                </div>
                <div class="card-body">
                  <h5 class="card-title">In Stock</h5>
                  <p class="card-text">Sold and Fulfilled by SELLER</p>
                  <a href="#" style="margin-bottom: 8px;" class="btn btn-primary">Add to Cart</a> <br>
                  <a href="#" class="btn btn-dark">Buy Now</a>
                </div>
                <div class="card-footer text-muted">
                 Deliver to ZIP Code: 90001
                </div>
              </div>
        </div>
      </div>
</div>