<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 align-center text-primary text-center ">{{category | uppercase}}</h1>
  </div>
</div>
<div>
          <div class= "container">
          <div  class="card mb-15 mt-2 mb-1" *ngFor="let item of listObjects ; let i = index">
            <div class="row g-0 mt-3 " >
              <div class="col-md-3 ml-2 view overlay" *ngIf = 'category === "bike" '>
               <a routerLink="/products/{{classType}}/{{category}}/{{i}}"><img  
                  src= {{bikeImages[i]}}
                  alt="..."
                  class="img-fluid mask flex-center rgba-blue-light" 
                />
            </a> 
              </div>
              <div class="col-md-3 ml-2 view overlay" *ngIf = 'category != "bike"'>
                <a routerLink="/products/{{classType}}/{{category}}/{{i}}"><img  
                   src= {{bookImages[i]}}
                   alt="..."
                   class="img-fluid mask flex-center rgba-blue-light" 
                 />
             </a> 
               </div>
              <div class="col-md-8">
                <div class="card-body">
                 <div *ngFor = " let o of item |keyvalue">
                   <b> {{o.key}} :</b> {{o.value}}
                 </div>                  
                  <a routerLink="/products/{{classType}}/{{category}}/{{i}}" class="btn btn-primary mt-2">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>