<div>
    <div  *ngIf = 'item === "bikeItem"' class="row">
    <div class="col-sm-3" *ngFor = "let book of books"; let i = index >
    <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
          class="card-img-top "
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{book.Title}}</h5>
          <p class="card-text">
           <li>Author: {{book.Author}}</li>
           <li>Price: {{book.price |currency}}</li>
           <li>ISBN: {{book.ISBN}}</li>
           <li>Publisher: {{book.publisher}}</li>
          </p>
          <a routerLink="/products/classA/bike/index" class="btn btn-primary">
          class="btn btn-primary">Button</a>
        </div>
      </div>
      <br>
      </div>
      </div>

      <div  *ngIf = 'item === "bookItem"' class="row">
        <div class="col-sm-3" *ngFor = "let book of books; let i = index" >
        <div class="card">
            <img
              src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
              class="card-img-top "
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{book.Title}}</h5>
              <p class="card-text">
               <li>Author: {{book.Author}}</li>
               <li>Price: {{book.price |currency}}</li>
               <li>ISBN: {{book.ISBN}}</li>
               <li>Publisher: {{book.publisher}}</li>
              </p>
              <a routerLink="/products/classA/bike/index" class="btn btn-primary">Button</a>
            </div>
          </div>
          <br>
          </div>
          </div>


</div>