<div>
          <div class= "container">
          <div  class="card mb-3">
            <div class="row g-0" *ngFor="let item of listObjects ; let i = index">
              <div class="col-md-3">
                <img
                  src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                  alt="..."
                  class="img-fluid"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                 <div *ngFor = " let o of item |keyvalue">
                    {{o.key}} : {{o.value}}
                 </div>
                  
                  <a routerLink="/products/{{classType}}/{{category}}/{{i}}" class="btn btn-primary">Button</a>
           
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>