

  <div class="container">
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://images.immediate.co.uk/production/volatile/sites/21/2019/11/Cannondale-CAAD13-Force-eTap-AXS-01-eea8773.jpg?quality=90&resize=620,413" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bikes</h5>
            <p class="card-text">
                A lot of shiny bikes for Vishal to drive 
            </p>
            <a  routerLink="/products/classA/bike" class="btn btn-primary">Explore Bikes</a>
          </div>
          
          <div class="card-footer">
            <small class="text-muted"> <a style="cursor:pointer ;" (click)="open()" > Meet the Bikes Team</a></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://media.timeout.com/images/105657575/750/562/image.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Books</h5>
            <p class="card-text">Special books that come with Brad Notes</p>
             <a  routerLink="/products/classB/books"  class="btn btn-primary">Explore Books</a>
          </div>
          <div class="card-footer">
            <small class="text-muted"> <a style="cursor:pointer ;" (click)="open()" > Meet the Books Team</a></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.t3lshop.com/images/Single-DVD-Lommer-til-DVD-Opbevaring-10281_04-p.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">DVDs</h5>
            <p class="card-text">
                Blu-Ray DVDs of classes where Brad never forgets to share his screen
            </p>
            <a  routerLink="/products/classB/dvds" class="btn btn-primary">Explore DVDs</a>
          </div>
          <div class="card-footer">
            <small class="text-muted"> <a style="cursor:pointer ;" (click)="open()" > Meet the DVDs Team</a></small>
          </div>
        </div>


        <div class="card-group">
            <div class="card">
              <img class="card-img-top" 
              src="https://images.everydayhealth.com/images/diet-nutrition/34da4c4e-82c3-47d7-953d-121945eada1e00-giveitup-unhealthyfood.jpg?sfvrsn=a31d8d32_0" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Food</h5>
                <p class="card-text">
                   Buy Pizza for the whole of LEAP. Or just FSE3.
                </p>
               <a  routerLink="/products/classA/food"  class="btn btn-primary"> Explore Food</a>
              </div>
              
              <div class="card-footer">
                <small class="text-muted"> <a style="cursor:pointer ;" (click)="open()" > Meet the Food Team</a></small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F6075baf74b38d32857ebb797%2FASUS-Vivobook-14-laptop%2F960x0.jpg%3FcropX1%3D68%26cropX2%3D1656%26cropY1%3D0%26cropY2%3D1059" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Laptops</h5>
                <p class="card-text">Physical high performance machines, better than RVCs</p>
                 <a  routerLink="/products/classB/laptop" class="btn btn-primary">Explore Laptops</a>
              </div>
              <div class="card-footer">
                <small class="text-muted"> <a style="cursor:pointer ;" (click)="open()" > Meet the Laptops Team</a></small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top"
               src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/educational-toys-1628263521.jpg?crop=0.601xw:0.901xh;0.125xw,0.0938xh&resize=640:*" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Toys</h5>
                <p class="card-text">
                    The real toys in our lives are programming languages
                </p>
                <a routerLink="/products/classA/toys"  class="btn btn-primary">Explore Toys</a>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                   <a style="cursor:pointer ;" (click)="open()" > Meet the Toys Team</a></small>
              </div>
            </div>

      </div>
      
  </div>
