<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">FidZulu</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="toggleCollapse()" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>Categories</a>
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/products/classA/bike">Bikes</a>
            <a class="dropdown-item"  routerLink="/products/classB/books">Books</a>
            <a class="dropdown-item" routerLink="/products/classB/dvds" >DVDs</a>
            <a class="dropdown-item" routerLink="/products/classA/food">Food</a>
            <a class="dropdown-item"routerLink="/products/classB/laptops">Laptops</a>
            <a class="dropdown-item" routerLink="/products/classA/toys">Toys</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>